$bgc: #162831;
$tc: #ffff;
$cwidht: 1430px;

body {
	font-size: 12px;
	color: $tc;
	background-color: $bgc;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	width: $cwidht;
	margin: 0 auto;
	max-width: 100%;
}
.main {
	flex: 1 1 auto;
}

